.safety-stock-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 20px;
}

.safely-stock-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}