<div class="row">
   <div class="col-12">
      <div class="row">
        <div class="col-8 safety-stock-heading"><span class="">Dynamic Safety Stock</span></div>
        <div class="col-4 safely-stock-buttons">
            <button type="button" class="btn btn-sm btn-primary"> Expand </button>
            <button type="button" class="btn btn-sm btn-primary"> Approve </button>
            <button type="button" class="btn btn-sm btn-primary"> Modify </button>
            <button type="button" class="btn btn-sm btn-primary"> Reject </button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2">
            <div class="form-group">
                <!-- <span class="label-css">Select Your Data Source</span> -->
                <input type="text" 
                    name="dataSetType1" 
                    class="form-control input-lg" placeholder="Region" 
                    required />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <!-- <span class="label-css">Select Your Data Source</span> -->
                <input type="text" 
                    name="dataSetType1" 
                    class="form-control input-lg" placeholder="Country" 
                    required />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <!-- <span class="label-css">Select Your Data Source</span> -->
                <input type="text" 
                    name="dataSetType1" 
                    class="form-control input-lg" placeholder="BU" 
                    required />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <!-- <span class="label-css">Select Your Data Source</span> -->
                <input type="text" 
                    name="dataSetType1" 
                    class="form-control input-lg" placeholder="Plant" 
                    required />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <!-- <span class="label-css">Select Your Data Source</span> -->
                <input type="text" 
                    name="dataSetType1" 
                    class="form-control input-lg" placeholder="Product Line" 
                    required />
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Select</th>
                    <th scope="col">Recommendation</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Location</th>
                    <!-- <th scope="col">Evaluation</th> -->
                    <th scope="col">Potential inventory saving</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                    <td>Decreased safety stock</td>
                    <td>6/20/2022</td>
                    <td>Location</td>
                    <td>12,392</td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                    <td>Decreased safety stock</td>
                    <td>6/20/2022</td>
                    <td>Location</td>
                    <td>12,392</td>
                </tr>
            </tbody>
        </table>
    </div>
   </div>
</div>
